@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkCyan: hsl(185, 75%, 39%);
    --darkBlue: hsl(229, 23%, 23%);
    --greyBlue: hsl(227, 10%, 46%);
    --grey: hsl(0, 0%, 59%);
    --fontSize: 1.125rem; /* 18px */
}

body {
    color: var(--darkBlue);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: var(--fontSize);
    font-weight: 400;
    line-height: 1.7;
    background-color: var(--darkCyan);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: left -760px top -580px, right -760px bottom -580px;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card-top {
    background-image: url(images/bg-pattern-card.svg);
    border-radius: 15px 15px 0 0;
    width: 325px;
    height: 140px;
}

img {
    background-color: rgb(245, 255, 255);
    border: 4px solid rgb(245, 255, 255);
    border-radius: 50%;
    display: block;
    margin: -50px auto; /* half of the img height */
}

.card-bottom {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 0 15px 15px;
    text-align: center;
    padding-top: 60px;
}

p {
    font-weight: 700;
}

span {
    font-weight: 400;
    color: var(--greyBlue);
}

.london-span {
    font-size: 0.875rem; /* 14px */
}

.box > span {
    font-size: 0.5625rem; /* 9px */
    letter-spacing: 2px;
}

.number-section {
    border-top: 1px solid rgb(236, 236, 236);
    line-height: 1.3;
    margin-top: 20px;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



/* ---------------------FOOTER----------------------- */

footer { 
    font-size: 11px; 
    text-align: center; 
}
    
footer a { 
    color: hsl(228, 45%, 44%); 
}


/* ------------------MEDIA-QUERIES-------------------- */

@media (min-width: 1270px) {
    body {
        background-position: left -70% top -400px, right -50% bottom -580px;
    }

    .card-top {
        width: 350px;
    }
} 